Source: orb-upload
Maintainer: Ulysse Vautier <ulysse.vautier@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 0.0.1
Priority: optional
Section: base

Package: orb-upload
Architecture: armhf
Priority: optional
Section: base
Depends: picberry
Description: Orb Application to upload firmware to PIC
 This binary gives you the power to control different Rob-Orb shields.
